p, h1, h2, h3, h4, h5, h6 {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
  background-image: url("tempBG.jpg");
  background-size: cover;
}

#initLogo {
  margin-top: 15px;
}

.options {
  font-family: "Roboto Condensed";
}

.standConf {
  font-family: "Teko";
}

.strategy {
  font-family: "Roboto Condensed";
}

.standStuff {
  font-family: "Roboto Condensed";
}

.standNum {
  font-family: "Rubik Mono One";
}

.standHead {
  font-family: "Teko";
  font-size: 20PX;
}

.infoHead {
  font-family: "Rubik Mono One";
  color: #012169;
  text-shadow: 2px 2px #ba001e;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

}

.infoP {
  font-family: 'Roboto Condensed', sans-serif;
  color: #012169;
  border-radius: 20px;
  font-size: 20px;
}

#ssBar {
  border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#standingsButton {
    border-top-right-radius: 20px;
}

#scheduleButton {
    border-top-left-radius: 20px;
}

.ssBarText {
  font-family: "Teko";
}

.schedData {
  padding-top: 20px;
  font-size: 20px;
  font-family:  'Roboto Condensed', sans-serif;
}

#weekTitle {
  font-family: "Rubik Mono One";
  color: #012169;
  text-shadow: 2px 2px #ba001e;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

}

#gameTitle {
  font-family: "Teko";
}

#test {
  max-height: 100px;
}

#enterButton {
  margin-top: 15px;
}

.coolButton {
  max-width: 140px;
  width: 30%;
}

#infoPage {
  display: none;
}

#teamSelectPage {
  display: none;
}

#teamsGoHere {
  margin-right: -8px;
    margin-left: -8px;
    margin-bottom: 22px;
}

.teamDiv {
  background-size: cover;
  border-radius: 20px;
  border: 5px solid white;
}

.selectLogo {
  width: 100%;
  padding: 20px;
    transition: all .2s ease-in-out;
}

.selectLogo:hover {
    transform: scale(1.2);
}

#dashboardPage {
  display: none;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#schedulePage {
  display: none;
}

#standingsPage {
  display: none;
  background-color: white;
}

.winsLosses {
  padding-left: 0px;
}

#gamePage {
  display: none;
}

#gameplay {
  display: none;
}

#playWeekButton {
  width: 100%;
  padding: 10px;
}

#gamePlayScore {
  font-family: Roboto Condensed;
    background-color: #5a5a5a;
    padding: 5px;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    font-family: Karla;
}

.gameScore {
  font-family: Roboto Condensed;
    background-color: #5a5a5a;
    padding: 5px;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    font-family: Karla;
}

.quarterHead {
  font-size: 3vh;
  /* border-top: 4px solid black; */
    border-bottom: 3px solid gray;
    font-family: Roboto Condensed;
}

.gameDesc {
  font-family: Karla;
  margin: 0px;
  padding: 12px;
}

#gamePlayScore {

}

#atl {
  display: none;
}

#postDash {
  display: none;
}

#madePlayoffs {
  display: none;
}

#playoffsNextButton {
  display: none;
}

#playoffMatchups {
  display: none;
}

#madePlayoffsText {
  /* color: white; */
}

.atlLogo {
  width: 100%;
}

@media screen and (min-width: 781px) {
  .atlLogo {
    width: 50%;
  }
}

.gameLogo {
  width: 100%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: black; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
    border-radius: 25px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: gray; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: gray; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}



.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-9 17:50:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-9 17:54:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-9 17:54:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
